# Config mit sensiblen Daten
src/main/resources/config/config.json
**/config.json

# Compiled class files
*.class
out/
build/
bin/

# IDE (IntelliJ)
# Alles in .idea ignorieren, aber Run-Konfigurationen erlauben
.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

# Persönliche IDE-Dateien weiterhin ignorieren
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
*.iml
.vscode/

# Maven
target/

# Logs
*.log
